<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RPAWindowsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="RPAWindowsApp.Properties.Settings.Connection" connectionString="Data Source=LAPTOP-Q84TE5T7\NAELINSQL;Initial Catalog=RPAdatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MySetting" value="whateverthevalueis"/>
  </appSettings>

  <startup>
      
        
      
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <userSettings>
    <RPAWindowsApp.Properties.Settings>
      <setting name="font" serializeAs="String">
        <value>Microsoft Sans Serif, 13.8pt</value>
      </setting>
      <setting name="buttoncolor" serializeAs="String">
        <value>LightSteelBlue</value>
      </setting>
      <setting name="backgroundcolor" serializeAs="String">
        <value>RoyalBlue</value>
      </setting>
      <setting name="fontcolor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="text1" serializeAs="String">
        <value>FullName</value>
      </setting>
      <setting name="text2" serializeAs="String">
        <value>someone@gmail.com</value>
      </setting>
      <setting name="text3" serializeAs="String">
        <value>Password</value>
      </setting>
      <setting name="text4" serializeAs="String">
        <value>Confirm Password </value>
      </setting>
      <setting name="fontsize" serializeAs="String">
        <value>Microsoft Sans Serif, 7.8pt, style=Bold</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>*</value>
      </setting>
      <setting name="position" serializeAs="String">
        <value />
      </setting>
      <setting name="AuthToken" serializeAs="String">
        <value />
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="UserId" serializeAs="String">
        <value>3</value>
      </setting>
    </RPAWindowsApp.Properties.Settings>
  </userSettings>
</configuration>